:root {
	--world-size: 20;
	font-size: 62.5%;
}

/**
 * reset padding and margin.
 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ul list style none */
li {
	list-style: none;
}

@font-face {
	font-family: minecraftFontItalic;
	src: url('../fonts/MinecraftBoldItalic-1y1e.otf');
}
@font-face {
	font-family: minecraftFontRegular;
	src: url('../fonts/MinecraftRegular-Bmg3.otf');
}
@font-face {
	font-family: minecraftFontBold;
	src: url('../fonts/MinecraftBold-nMK1.otf');
}
@font-face {
	font-family: minecraftTitleFont;
	src: url('../fonts/MinecraftEvenings-RBao.ttf');
}
body {
	height: 100vh;
	font-family: minecraftFontBold;
	color: #fff;
	position: relative;
}

.header {
	color: #fff;
	padding-bottom: 15px;
	text-align: center;
}

/* --------------landing page-------------- */
.description-blocks {
	padding: 5px;
	width: 5vh;
	height: 5vh;
	border: 1px solid #777777;
	margin: 5px 0;
	background: center / cover no-repeat;
}

#landing-page {
	position: absolute;
	top: 0;
	left: 0;
	background: center repeat;
	padding: 5vh 10vw;
	background-image: url('../img/bg.jpg');
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	z-index: 1;
}
#landing-page::after {
	content: '';
	background: teal;
	width: 100%;
	height: 100vh;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.minecraft-logo {
	width: 80vw;
}
.start-btn {
	color: #fff;
	font-size: 2.4rem;
	border: 2px solid black;
	background: url('https://wallpaperaccess.com/full/1265835.png') no-repeat
		center center/cover;
	object-fit: cover;
	padding: 2vh 2vw;
	margin: 15px;
	transition: all 0.2s ease-in;
}

.restart-btn,
.reset-btn {
	color: rgb(253, 254, 255);
	font-size: 1.5rem;
	background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8BRJTndDFWQ2x8bpUlZTII-craVhDH6VsMg&usqp=CAU')
		no-repeat center center/cover;
	padding: 1vh;
	margin-bottom: 1vh;
	transition: all 0.1s ease-in;
}

.start-btn:hover,
.restart-btn:hover,
.reset-btn:hover {
	cursor: pointer;
	transform: translateY(5px);
}

.tutorial-container {
	width: 59%;
	background-color: #23486d98;
	padding: 1vh 5vw;
	padding-bottom: 3vh;
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr 1fr;
	grid-template-rows: auto repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	gap: 1vw;
}
.space {
	grid-row: 1/1;
	grid-column: 1/5;
	font-size: 5rem;
	padding-bottom: 1vh;
	font-family: minecraftFontRegular;
}
.tutorial-container h2 {
	justify-self: start;
	font-family: minecraftFontRegular;
	font-size: 3rem;
}

.tutorial-container .tool-box:hover {
	cursor: auto;
	box-shadow: none;
}

#landing-page.hidden {
	display: none;
}
.hidden {
	display: none;
}
/* --------------matrix-------------- */
#minecraft {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 100vh 1fr 15vw;
	background: #81a1c1;
}
.world {
	max-height: 100%;
	display: grid;
	grid-template-columns: repeat(var(--world-size), auto);
	grid-template-rows: repeat(var(--world-size), auto);
	grid-gap: 0;
	grid-column: 2 / 2;
}
/* --------------tools container-------------- */
.toolbar {
	height: 100%;
	grid-column: 4 / 4;
	background-color: #3b4252;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2vh 2vw;
	text-align: center;
	user-select: none;
}

.toolbar h2 {
	font-size: 2rem;
}

/* --------------tools-------------- */
.tools,
.inventory {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 5px;
	padding-bottom: 2vh;
	justify-items: center;
	align-items: center;
	/* background: #565759; */
}
.tools > div:hover,
.inventory > div:hover {
	color: white;
	/* background: hsl(200, 82%, 24%); */
	transform: scale(1.05);
}
.tools h2 {
	padding-bottom: 15px;
}
.tools {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 2vh;
}
.tool-box {
	font-size: 1.4rem;
	margin: 5px 0;
	height: 10vh;
	width: 10vh;
	border: 1px solid white;
	background: center / 80% no-repeat;
	padding: 0.2rem;
	border: 7px solid #777777;
	transition: all 0.1s ease-in;
}

[data-type='axe'] {
	background-image: url('../img/axediamond.png');
}

[data-type='pickaxe'] {
	background-image: url('../img/diamondpickaxe.png');
}

[data-type='shovel'] {
	background-image: url('https://i.pinimg.com/originals/fc/75/ea/fc75eaf24453279cd9453200392c1cfa.png');
	background-size: 100% 100%;
}

/* --------------inventory-------------- */
.inventory-item {
	margin: 5px 0;
	height: 5vh;
	width: 5vh;
	border: 1px solid #777777;
	background: center / cover no-repeat;
	font-size: 1.5rem;
	text-align: center;
	transition: all 0.1s ease-in;
}

/* --------------tiles-------------- */
.tile {
	height: 100%;
	width: 100%;
	background: center / cover no-repeat;
	transition: background-image 1s ease-in-out;
}

[data-type='sky'] {
	background-color: rgb(50, 157, 245);
}

[data-type='cloud'] {
	background-color: rgb(242, 247, 251);
	position: relative;
}
[data-type='cloud'] > span {
	color: #000;
}

[data-type='leaves'] {
	background-image: url('../img/greenleaves.jpg');
	position: relative;
}

[data-type='trunk'] {
	background-image: url('../img/trunklight.png');
	position: relative;
}

[data-type='grass'] {
	background-image: url('../img/grassblock.png');
	position: relative;
}

[data-type='rock'] {
	background-image: url('../img/rocklight.png');
	position: relative;
}

[data-type='dirt'] {
	background-image: url('../img/dirtblock.jpg');
	position: relative;
}

.item-count {
	position: absolute;
	right: 0;
	bottom: 0;
}
/*--------------effects-------------- */
.tile:hover {
	border: 1px solid rgba(243, 244, 250, 0.527);
	margin: -1px;
}

.tool-box.selected {
	border-color: hsl(200, 82%, 24%);
}
.inventory-item.selected {
	box-shadow: 1px 1px 2px 2px hsl(200, 46%, 60%);
}
.inventory-item:hover,
.tool-box:hover,
.restart-btn:hover,
.reset-btn:hover {
	cursor: pointer;
}

@media all and (max-width: 950px) {
	#minecraft {
		grid-template-rows: 18vh 82vh;
		grid-template-columns: auto;
	}
	.toolbar {
		grid-row: 1 / 1;
		grid-column: 1 / 1;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
	}
	.toolbar h1 {
		display: none;
	}
	.world {
		grid-row: 2 / 2;
		grid-column: 1 / 1;
	}
	.tools {
		display: flex;
		flex-direction: row;
	}
	.tools > div {
		width: 55px;
		height: 55px;
	}
	.tutorial-container {
		width: 120%;
	}
	.inventory {
		display: flex;
		flex-direction: row;
	}
	.inventory > div {
		width: 35px;
		height: 35px;
	}
	.inventory-item,
	.tool-box {
		margin: 2px 5px;
	}
	.header {
		padding-bottom: 5px;
	}
	.restart-btn,
	.reset-btn {
		padding: 10px;
		margin-bottom: 0;
	}
	.tutorial-container h2 {
		font-size: 2rem;
	}
}
@media all and (max-width: 609px) {
	.toolbar {
		display: grid;
		grid-template-rows: repeat(3, 6vh);
		grid-template-columns: auto auto auto;
		column-gap: 1vw;
	}
	.tools {
		grid-row: 1 / 3;
	}
	.inventory {
		grid-row: 1 / 3;
	}
	.tutorial-container {
		width: 120%;
	}
	.restart-btn {
		grid-row: 1 / 1;
	}
	.reset-btn {
		grid-row: 2 / 2;
	}
	.restart-btn,
	.reset-btn {
		grid-column: 3 / 3;
		font-size: 1rem;
	}
	.tutorial-container h2 {
		font-size: 1.5rem;
	}
}
@media all and (max-width: 520px) {
	#minecraft {
		grid-template-rows: 20vh 80vh;
	}
	.toolbar {
		grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(2, 1fr);
		padding: 2px;
		padding-top: 10px;
		grid-gap: 3px;
	}
	.tools,
	.inventory {
		grid-row: 1 / 1;
		grid-gap: 3px;
	}
	.toolbar h2 {
		font-size: 1rem;
	}
	.space {
		font-size: 2rem;
	}
	.inventory h2 {
		display: none;
	}
	.tools + h2 {
		display: none;
	}
	.tools h2 {
		padding: 8px 12px;
	}
	.inventory {
		grid-row: 2 / 2;
	}
	.world {
		width: 100%;
	}
	.tutorial-container {
		width: 85%;
		padding: 1vh 3vw;
	}
	.tutorial-container h2 {
		font-size: 1.3rem;
	}
	.tutorial-container .tool-box {
		margin: 2px 0;
		height: 8vh;
		width: 8vh;
	}
}
